<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>01_Servlet</display-name>
  <!-- 
	배포 서술자(Deployment Descriptor, DD)
		웹 애플리케이션의 기본적인 설정을 위해 작성하는 파일이다. 
 -->
  <!-- 
  	welcome-file-list
  		클라이언트에서 요청 시 파일명, 서블릿을 생략하고 디렉터리(폴더)까지만 지정해서 요청한다면 
  		웹서버는 해당 디렉터리에서 웰컴 파일을 찾아서 응답한다.
   -->
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>


<!-- 서블릿 등록 -->
<servlet>
	<!-- XML 안에서 서블릿을 부르는 이름을 지정 -->
	<servlet-name>first</servlet-name>
	<!-- XML 안에서 등록된 서블릿을 불러올 클래스명을 지정 (풀 패키지를 포함한 이름을 적어주기 -->
	<servlet-class>com.kh.servlet.FirstServlet</servlet-class>
</servlet>

<!-- 
	등록한 서블릿을 주소와 연결(Mapping)
	
	http://localhost:8090/01_Servlet/first.do
	톰캣을 찾아오기 위한 경로 / 
 -->
 <servlet-mapping>
 	<servlet-name>first</servlet-name>
 	<url-pattern>/first.do</url-pattern>
 </servlet-mapping>







</web-app>







